<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.stahlke.rdnwallpaper"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application android:label="@string/app_name"
        android:icon="@drawable/icon">

        <activity
            android:name="RdnPrefs"
            android:launchMode="standard"
            android:theme="@android:style/Theme.WallpaperSettings">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="RdnWallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            android:enabled="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/rdnwallpaper" />
        </service>
    </application>
</manifest>
